# ignore build artifacts
bin
obj

# ignore OS X state
.DS_STORE

# ignore vi/Vim state
*.swp

# ignore Rider state
Steeltoe.Initializr.sln.DotSettings.user
**/.idea/*
Steeltoe.Initializr.sln.DotSettings.user
