# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'build'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
- task: CloudFoundry@1
  inputs:
    cfEndpoint: 'PWS'
    skipSSLValidation: true
    org: 'steeltoe.io'
    space: 'development'
    deploymentOptions: 'manifest'
    cfManifest: 'src/manifest.yml'
    createServices: false
    bindServices: false
    workingDirectory: src
