# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-16.04'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:


- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    arguments: '-f netcoreapp2.2 -r ubuntu.14.04-x64'
    workingDirectory: 'src'

- task: CloudFoundry@1
  inputs:
    cfEndpoint: 'PWS'
    skipSSLValidation: true
    org: 'steeltoe.io'
    space: 'development'
    deploymentOptions: 'manifest'
    cfManifest: 'src/manifest.yml'
    additionalDeployArgs: '-p -p bin/Debug/netcoreapp2.2/ubuntu.14.04-x64/publish'
    createServices: false
    bindServices: false
    workingDirectory: 'src'